<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>testAppServ</display-name>

<servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>servlets.UserEditServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>UserViewServlet</servlet-name>
    <servlet-class>servlets.UserViewServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/user/view</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>UserCreateServlet</servlet-name>
    <servlet-class>servlets.UserCreateServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>


</web-app>